<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastbuild.mapper.AuthClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fastbuild.entity.AuthClient">
        <id column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="client_name" property="clientName" />
        <result column="client_password" property="clientPassword" />
        <result column="auth_type" property="authType" />
        <result column="auth_scope" property="authScope" />
        <result column="expire_time" property="expireTime" />
        <result column="register_time" property="registerTime" />
        <result column="update_time" property="updateTime" />
        <result column="freeze_time" property="freezeTime" />
        <result column="bak" property="bak" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_id AS clientId, client_name AS clientName, client_password AS clientPassword, auth_type AS authType, auth_scope AS authScope, expire_time AS expireTime, register_time AS registerTime, update_time AS updateTime, freeze_time AS freezeTime, bak
    </sql>

</mapper>
