<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastbuild.mapper.AuthResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fastbuild.entity.AuthResource">
        <id column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="resource_name" property="resourceName" />
        <result column="resource_url" property="resourceUrl" />
        <result column="resource_type" property="resourceType" />
        <result column="resource_pre_name" property="resourcePreName" />
        <result column="bak" property="bak" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_id AS resourceId, resource_name AS resourceName, resource_url AS resourceUrl, resource_type AS resourceType, resource_pre_name AS resourcePreName, bak
    </sql>

</mapper>
